n8n-flow-nifi.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "7694f4f4-5d5d-4f4f-b5b5-1234567890ab",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "url": "http://your-nifi-host:8080/nifi-api/controller/cluster",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4a1b-8c2d-9e3f0a1b2c3d",
      "name": "Get Cluster Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [620, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "e4f5g6h7",
              "leftValue": "={{ $json.cluster.totalNodeCount }}",
              "rightValue": "={{ $json.cluster.connectedNodeCount }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6a1-4b2c-8d3e-0f1a2b3c4d5e",
      "name": "Are All Nodes Connected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "url": "http://your-nifi-host:8080/nifi-api/process-groups/root/process-groups",
        "options": {}
      },
      "id": "c3d4e5f6-a1b2-4c3d-8e4f-1a2b3c4d5e6f",
      "name": "Get All Process Groups",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1080, 280]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst groups = items[0].json.processGroups;\n\nfor (const group of groups) {\n  const status = group.status.aggregateSnapshot;\n  // Check if anything is stopped or if there are error bulletins\n  if (status.stoppedCount > 0 || status.terminatedCount > 0 || status.bulletins.length > 0) {\n    results.push({\n      json: {\n        groupName: group.component.name,\n        stoppedCount: status.stoppedCount,\n        bulletins: status.bulletins.map(b => b.bulletin.message).join(' | ')\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "d4e5f6a1-b2c3-4d4e-8f5a-2b3c4d5e6f7a",
      "name": "Filter Issues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 280]
    },
    {
      "parameters": {
        "content": "## ⚠️ NiFi Alert: Node Disconnected!\nTotal: {{ $node[\"Get Cluster Status\"].json.cluster.totalNodeCount }}\nConnected: {{ $node[\"Get Cluster Status\"].json.cluster.connectedNodeCount }}",
        "options": {}
      },
      "id": "e5f6a1b2-c3d4-4e5f-9a1b-3c4d5e6f7a8b",
      "name": "Alert: Node Down",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1080, 480]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{"node": "Get Cluster Status", "type": "main", "index": 0}]]
    },
    "Get Cluster Status": {
      "main": [[{"node": "Are All Nodes Connected?", "type": "main", "index": 0}]]
    },
    "Are All Nodes Connected?": {
      "main": [
        [{"node": "Get All Process Groups", "type": "main", "index": 0}],
        []
      ]
    },
    "Get All Process Groups": {
      "main": [[{"node": "Filter Issues", "type": "main", "index": 0}]]
    }
  }
}