n8n-flow-nifi.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "url": "http://nifi:8080/nifi-api/system-diagnostics",
        "options": {}
      },
      "id": "2",
      "name": "Check NiFi Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [620, 300]
    },
    {
      "parameters": {
        "url": "http://nifi:8080/nifi-api/flow/process-groups/root/status",
        "options": {}
      },
      "id": "3",
      "name": "Check Root Queues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [840, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.processGroupStatus.aggregateStatus.flowFilesQueued }}",
              "operation": "larger",
              "value2": 1000
            }
          ]
        }
      },
      "id": "4",
      "name": "Queue Alert Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1060, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Check NiFi Health", "index": 0 }]]
    },
    "Check NiFi Health": {
      "main": [[{ "node": "Check Root Queues", "index": 0 }]]
    },
    "Check Root Queues": {
      "main": [[{ "node": "Queue Alert Filter", "index": 0 }]]
    }
  }
}